
<html>
  <head>  
  
  <link rel="stylesheet" type="text/css" href="/visog-job-portal-ui/resources/css/master.css" media="screen" />

 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="/visog-job-portal-ui/resources/js/industry.js"></script>
<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->
	
 
    <head>
    <body ng-app="IndustryManagement" ng-controller="IndustryController">
         <h1>
           Industries Master
        </h1> 
        <form ng-submit="submitIndustry()">
            <table>
               
                <tr>
                    <th colspan="2">Add/Edit industry</th>
                 </tr>
                <tr>
                    <td>Industrys Name</td>
                    <td><input type="text" ng-model="industryForm.name" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" ng-model="industryForm.description"  /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
              
                <th>Industry</th>
                <th>Description</th>
                <th> </th>
               
            </tr>
 
            <tr ng-repeat="industry in industry">
       
    <td> {{ industry.name }}</td>
    <td >{{ industry.description }}</td>  
                
                <td><a ng-click="editIndustry(industry)" class="blue-button">Edit</a> | <a ng-click="deleteIndustry(industry)" class="red-button">Delete</a></td>
            </tr>
 
        </table>
 
       
 
       
      
  </body>
</html>